<div class="project-add-container">
  <h1 class="project-add-header">Add New Project</h1>
  <form class="project-add-form">
    <input class="project-add-input" type="text" placeholder="Project Title" name="projectTitle" #projectTitle>
    <input class="project-add-input" type="text" placeholder="Project Description" name="projectDescription" #projectDescription>
    <button class="project-add-submit" (click)="addProject({'title': projectTitle.value, 'description': projectDescription.value})">Add</button>
  </form>
</div>
