<div class="navbar-container">
  <div class="navbar">
    <ul class="navbar-list" (window:resize)="toggleVisibility('resize')" [ngStyle]="toggleVisibility()">
      <div class="navbar-left">
        <li class="navbar-logo" [routerLink]="['/']">MEAN Project Manager</li>
        <li *ngIf="userApiService.loggedIn()" (click)="menuToggle()" class="navbar-item" [routerLink]="['/']">Home</li>
        <li *ngIf="userApiService.loggedIn()" (click)="menuToggle()" class="navbar-item" [routerLink]="['/projects']">Projects</li>
        <li *ngIf="userApiService.loggedIn()" (click)="menuToggle()" class="navbar-item" [routerLink]="['/projects/add']">Add Project</li>
      </div>
      <div class="navbar-right">
        <li *ngIf="!userApiService.loggedIn()" (click)="menuToggle()" class="navbar-item" [routerLink]="['/login']">Login</li>
        <li *ngIf="!userApiService.loggedIn()" (click)="menuToggle()" class="navbar-item" [routerLink]="['/register']">Register</li>
        <li *ngIf="userApiService.loggedIn()" (click)="menuToggle()" class="navbar-item" (click)="logout()">Logout</li>
      </div>
    </ul>
    <div class="navbar-toggle-container" (click)="menuVisible = !menuVisible">
      <p class="fa fa-bars navbar-toggle-logo"></p>
      <p class="navbar-toggle-description">MENU</p>
    </div>
  </div>
</div>
