/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.message-success {
  background: green;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.message-failure {
  background: red;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
