<div class="projects-container">
  <div class="project-container" *ngFor="let project of projects; let i = index">
    <div class="project-title-container" [routerLink]="['/project', project.projectId]">
      <a class="fa fa-plus project-toggle"></a>
      <h2 class="project-title">{{project.title}}</h2>
      <div class="project-actions-container">
        <a class="fa fa-pencil project-edit" [routerLink]="['/projects/edit/', project.projectId]"></a>
        <a class="fa fa-trash-o project-delete" (click)="deleteProject({'projectId': project.projectId})"></a>
      </div>
    </div>
  </div>
</div>
