<div class="content-container">
  <h2>Profile</h2>
  <div class="profile-container" *ngIf="profile">
    <div class="profile-row">
      <div class="profile-left">
        <p>Current Password: </p>
      </div>
      <div class="profile-right">
        <input class="profile-input" type="password" placeholder="Current Password" name="currentPassword" #currentPassword>
      </div>
    </div>
    <div class="profile-row">
      <div class="profile-left">
        <p>New Password: </p>
      </div>
      <div class="profile-right">
        <input class="profile-input" type="password" placeholder="New Password" name="newPassword" #newPassword>
      </div>
    </div>
    <div class="profile-row">
      <button class="profile-cancel" [routerLink]="['/profile']">Cancel</button>
      <button class="profile-save" (click)="updatePassword({'password': currentPassword.value, 'newPassword': newPassword.value})">Save</button>
    </div>
  </div>
</div>
