<div class="content-container">
  <h2>Profile</h2>
  <div class="profile-container" *ngIf="profile">
    <div class="profile-row">
      <div class="profile-left">
        <p>Name: </p>
      </div>
      <div class="profile-right">
        <input class="profile-input" type="text" value="{{profile.name}}" name="name" #name>
      </div>
    </div>
    <div class="profile-row">
      <div class="profile-left">
        <p>Username: </p>
      </div>
      <div class="profile-right">
        {{profile.username}}
      </div>
    </div>
    <div class="profile-row">
      <div class="profile-left">
        <p>Email: </p>
      </div>
      <div class="profile-right">
        <input class="profile-input" type="text" value="{{profile.email}}" name="email" #email>
      </div>
    </div>
    <div class="profile-row">
      <div class="profile-left">
        <p>Password: </p>
      </div>
      <div class="profile-right">
        **********
      </div>
    </div>
    <div class="profile-row">
      <button class="profile-cancel" [routerLink]="['/profile']">Cancel</button>
      <button class="profile-save" (click)="updateProfile({'email': email.value, 'name': name.value})">Save</button>
    </div>
  </div>
</div>
